<!DOCTYPE html>
<html lang="en">
<head>
  <title>Air Quality Chess</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='chessboard-1.0.0.min.css') }}">
  <link rel="stylesheet" href="/static/chessboard-1.0.0.min.css">
  <script type="text/javascript" src="{{ url_for('static', filename='chessboard-1.0.0.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chess.js') }}"></script>


  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Air Quality Chess </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <a class="nav-link" href="/games">Games</a> -->
      </li>
    </ul>
  </div>  
</nav>

{% block index_content %}
{% endblock %}

{% block march_content %}
{% endblock %}

{% block april_content %}
{% endblock %}

{% block may_content %}
{% endblock %}

{% block games_content %}
{% endblock %}



<!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div> -->

</body>
</html>
