{% extends "base.html" %}
{% block games_content %}


<div class="container-fluid">
    {% for x in pgn %}
    <div class="row">
        <div class="col">
        <p>{{x[1]}} versus {{x[2]}} - {{x[3]}}</p>
        <div id='myboard' style="width: 400px"></div>
        <input type="button" id="startPositionBtn5" value="|<" />
        <input type="button" id="prevBtn5" value="<" />
        <input type="button" id="nextBtn5" value=">" />
        <input type="button" id="endPositionBtn5" value=">|" />
        <p><span id="pgn5"></span></p>
        <script>
            var pgn_str = {{x[0]|tojson}};
            $(function() {
            var cfg = {
                pieceTheme: 'https://koblenski.github.io/javascript/chessboardjs-0.3.0/img/chesspieces/wikipedia/{piece}.png',
                position: 'start'
            };
            var board = ChessBoard('myboard', cfg);
            var game = new Chess();
            
            // 1. Load a PGN into the game
            var pgn = pgn_str;
            game.load_pgn(pgn);
            $('#pgn5').html(pgn);
            // 2. Get the full move history
            var history = game.history();
            game.reset();
            var i = 0;
            // 3. If Next button clicked, move forward one
            $('#nextBtn5').on('click', function() {
                game.move(history[i]);
                board.position(game.fen());
                i += 1;
                if (i > history.length) {
                    i = history.length;
                }
            });  
            // 4. If Prev button clicked, move backward one
            $('#prevBtn5').on('click', function() {
                game.undo();
                board.position(game.fen());
                i -= 1;
                if (i < 0) {
                i = 0;
                }
            });
            // 5. If Start button clicked, go to start position
            $('#startPositionBtn5').on('click', function() {
                game.reset();
                board.start();
                i = 0;
            });
            // 6. If End button clicked, go to end position
            $('#endPositionBtn5').on('click', function() {
                game.load_pgn(pgn);
                board.position(game.fen());
                i = history.length;
            });
            });
        </script>

    </div>
    {% endfor %}
</div>

{% endblock %}
