{% extends "base.html" %}
{% block index_content %}
<style>
    .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
</style>
<div class="container p-3 my-3 pt-3 border">
    <div class="row">
        <div class="col">
                <div class="well-head">
                    <h3>Standings</h3>
                </div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Wins</th>
                    <th>Played</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in details %}
                  <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col">
            <div class="container-fluid" id="content">
                <div class="row row-condensed-xs pairings-row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="well-head">
                                <h3>Games Played</h3>
                            </div>
                            <div class="well-body">

                                    </div>
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table class="table table-condensed-xs" id="table-team-pairings">
                                        
                                            <tbody>
                                                <tr class="header-row">
                                                    <th>
                                                        <a>
                                                        White
                                                        </a>
                                                    </th>
                                                    <th class="cell-score cell-loss">
                                                        Score
                                                    </th>
                                                    <th class="cell-score cell-win">
                                                       
                                                    </th>
                                                    <th class="text-right">
                                                        <a>
                                                        Black
                                                        </a>
                                                    </th>
                                                <th class="cell-time table-menu">
                                                            Date/Time
                                                </th>
                                            </tr>
                                            {% for i in games %}
                                                <tr>
                                                    <td class="pairing-player player-white">
                                                            <span class="color-dot left hidden-xs"></span>
                                                            <a>
                                                            {{i[0]}}
                                                            </a>
                                                    </td>
                                                        <td class="cell-game-result" colspan="2">
                                                            <a href="#" data-toggle="popover" title="" data-content="<a href = {{i[5]}} target ='_blank'>Link to Game</a>"
                                                         data-html="true"> {{i[2][0]}} {{i[2][1]}} {{i[2][2]}}</a>
                                                            
                                                        </td>
                                                    
                                                    <td class="text-right pairing-player player-black">
                                                            <a>
                                                             {{i[1]}}
                                                            </a>
                                                    </td>
                                                    <td class="text-right cell-time"><time datetime="2020.04.14" data-original-title="" title="">{{i[3]}} {{i[4]}}</time></td>
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function(){
                                  $('[data-toggle="popover"]').popover(); 
                                });
                                </script>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

<div class="container p-3 my-3 pt-3 border">
    <div class="row">
        <div class="col">
                <div class="well-head">
                    <h3>Latest Game</h3>
                </div>
        <p>White: <strong>{{latest_game[1]}}</strong>   Black: <strong>{{latest_game[2]}}</strong> - {{latest_game[3]}}</p>
        <div id= 'myBoard' style="width: 400px"></div>
        <input type="button" class="btn .btn-primary .btn-lg" id="startPositionBtn5" value="|<" />
        <input type="button" class="btn .btn-primary .btn-lg" id="prevBtn5" value="<" />
        <input type="button" class="btn .btn-primary .btn-lg" id="nextBtn5" value=">" />
        <input type="button" class="btn .btn-primary .btn-lg" id="endPositionBtn5" value=">|" />
        <script>
            $(function() {
            var cfg = {
                pieceTheme: 'https://koblenski.github.io/javascript/chessboardjs-0.3.0/img/chesspieces/wikipedia/{piece}.png',
                position: 'start'
            };
            var board = ChessBoard('myBoard', cfg);
            var game = new Chess();
            
            // 1. Load a PGN into the game
            var pgn = {{latest_moves|tojson}};
            game.load_pgn(pgn);
            $('#pgn5').html(pgn);
            // 2. Get the full move history
            var history = game.history();
            game.reset();
            var i = 0;
            // 3. If Next button clicked, move forward one
            $('#nextBtn5').on('click', function() {
                game.move(history[i]);
                board.position(game.fen());
                i += 1;
                if (i > history.length) {
                    i = history.length;
                }
            }); 
            window.onload = function() {
       //when the document is finished loading, replace everything
       //between the <a ...> </a> tags with the value of splitText
                document.getElementById("pgnHistory").innerHTML=history;
            }  
            // 4. If Prev button clicked, move backward one
            $('#prevBtn5').on('click', function() {
                game.undo();
                board.position(game.fen());
                i -= 1;
                if (i < 0) {
                i = 0;
                }
            });
            // 5. If Start button clicked, go to start position
            $('#startPositionBtn5').on('click', function() {
                game.reset();
                board.start();
                i = 0;
            });
            // 6. If End button clicked, go to end position
            $('#endPositionBtn5').on('click', function() {
                game.load_pgn(pgn);
                board.position(game.fen());
                i = history.length;
            });
            });
        </script>
        </div>
        <div class="col-md">
            <div class="container p-3 my-3 pt-3 border text-left">
                <div class="well-head">
                    <h3>Moves</h3>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-condensed-xs" id="table-team-pairings">
                
                        <tbody>
                            <tr class="header-row">
                                <th class = "cell-score cell-move">
                                    <a>
                                    No.
                                    </a>
                                </th>
                                <th class="cell-score cell-white">
                                    White
                                </th>
                                <th class="cell-score cell-black">
                                    <a>
                                    Black
                                    </a>
                                </th>
                        </tr>
                        {% for i in pgn %}
                            <tr>
                                <td class="text-left move-number">
                                        <span class="color-dot left hidden-xs"></span>
                                        <a>
                                        {{i[2]}}.
                                        </a>
                                </td>
                                    <td class="text-left cell-white-move">
                                     <a>{{i[0]}}</a>
                                        
                                    </td>
                                
                                <td class="text-left cell-black-move">
                                        <a>
                                         {{i[1]}}
                                        </a>
                                </td>
                            </tr>
                        {% endfor %}   
            </div>    
        </div>
    </div>
</div>

{% endblock %}
